$xs: "only screen and (max-width: 48em)";
$sm: "only screen and (max-width: 64em)";
$md: "only screen and (max-width: 75em)";
// $md: "only screen and (max-width: 1200px)";
// $lg: "only screen and (max-width: 1400px)";

$main: #e8e8e8;
$main2: #009cb9;